* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f3f5;
}
nav {
  background-color: #c92a2a;
  padding: 2.2rem;
  margin-bottom: 4.2rem;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #dee2e6;
  text-transform: uppercase;
}
.active {
  padding: 0.6rem 2.4rem;
  border-bottom: 2px solid #dee2e6;
  /* border-radius: 12px; */
}

main h1 {
  font-size: 2.8rem;
  text-align: center;
  color: #444;
  margin-bottom: 2.4rem;
}
main p {
  text-align: center;
  font-size: 1.2rem;
}

main form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
main form .add-product-btn {
  color: #1864ab;
  border: 1px solid #1864ab;
}
main form .add-product-btn,
.edit-btn,
.delete-btn {
  background-color: transparent;

  padding: 0.6rem 1.6rem;

  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 2rem;
}

.edit-btn {
  color: #1864ab;
  padding: 0.4rem 2.2rem;
  border: 1px solid #1864ab;
  text-decoration: none;
}
.delete-btn {
  color: #c92a2a;
  border: 1px solid #c92a2a;
}

main form input,
main form div textarea {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #444;
  width: 15%;
  text-align: center;
  margin-bottom: 1.2rem;
}
main form .add-product-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  /* background-color: black; */
  border: 1px solid #444;
  color: black;
}

.active {
  padding: 0.4rem 0.6rem;
  border-bottom: 2px solid #dee2e6;

  /* border-radius: 12px; */
}
